<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
.form-control {
     display: block;
     height: 48px;
     padding: 6px 12px;
     width: 400px;
     border: 4px solid #45416D;
     border-radius: 19px;
}
.center-display{
     margin:auto;
     /*position:absolute;*/
     top:0;
     bottom:0;
     right:0;
     left:0;
}
.results{
     /*margin-top:10%;*/
}

body {
    background-color: white;
}
</style>

</head>

<body>
<header>

</header>
 <div class="container">

      <div class='results'>
          <h3>  </h3>
      </div>

      </div><!-- /.container -->

      <div class="controls">
    <div class='results'>
          <h3> Search Results Found...</h3>
          <p class="lead small" style="background-color: yellow;"> Searched File name  ...   {{resultt}} </p>
          <p>{{search_results}}</p> 
          
      </div>

      


</body>
</html>